<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dobs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="Create a person"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Activities.BehaviorActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Activities.CollectActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Activities.EventActivity"
            android:label="Create an incident"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".Activities.ViewBehaviors" />
        <activity android:name=".Activities.ViewActivity" />
        <activity android:name=".Activities.SleepActivity" />
        <activity
            android:name=".Activities.OAuthActivity"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="logincallback"
                    android:scheme="fitbittester" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MotionActivity" />
        <activity
            android:name=".Activities.ExportActivity"
            android:label="Export to excel"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Activities.SettingActivity"
            android:label="Settings"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".Activities.ViewIncidents"></activity>

        <receiver android:name=".Receivers.AlarmReceiver" />
        <receiver
            android:name=".Receivers.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
